repos:
- repo: local
  hooks:
      #- id: check-yaml
      #name: check-yaml
      #entry: check-yaml
      #language: python
      #types: [yaml]
      #stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: clang-format
    name: clang-format
    entry: clang-format -i
    types_or: [c, c++]
    stages: [commit]
    language: system
    types_or: [c, c++, python]
    exclude: ".*py"
    #- id: clang-tidy
    #name: clang-tidy
    #entry: clang-tidy --extra-arg="-Iinc" -extra-arg="-I." -extra-arg="-DETHER"
    #types_or: [c, c++]
    #stages: [commit]
    #language: python
    #types_or: [c, c++, python]
    #- id: splint
    #name: Splint
    #entry: splint -f cxcp.lcl
    #types_or: [c, c++]
    #stages: [commit]
    #language: system
    #types_or: [c, c++, python]
    #exclude: ".*py"
#  - id: end-of-file-fixer
#    name: end-of-file-fixer
#    entry: end-of-file-fixer
#    language: python
#    types_or: [c, c++, python]
#    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v14.0.6
  hooks:
  - id: clang-format
