repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-merge-conflict
    -   id: mixed-line-ending
        args: ['--fix=lf']
        description: "Forces line endings to LF."

-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
    -   id: clang-format
        types_or: [c, c++]

-   repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
    -   id: clang-tidy
        args:
        - --quiet
        - -p=build # Assumes compile_commands.json is in a 'build' directory
        # You may need to adjust the path '-p=<path_to_build_dir>'
        # Generate compile_commands.json with: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=1
